<div class="black-background animated fadeIn" [ngClass]="_modalUploadService.oculto">
    <div class="modal" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-12">
                            <img *ngIf="!imagenTemp" [src]="'xxx' | imagen" class="w150 mb-2">
                            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150 mb-2">
                        </div>
                        <div class="col-12">
                            <input (change)="seleccionaImagen( $event.target.files[0] )" type="file">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                    <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Subir imagen</button>
                </div>
            </div>
        </div>
    </div>
</div>